{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chatbot{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>
    <body>
        <button onclick="openRegister()">회원가입</button>
        <button onclick="openLogin()">로그인</button>
        {% block content %}
        {% endblock %}
        <!-- The Modal -->
        <div id="Register" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>User Login</h2>
                <form method="post" action="{% url 'user:register' %}" id="registerForm">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email"><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="회원가입">
                </form>
                <div id="registerErrorDiv"></div>
            </div>
        </div>
        <div id="Login" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>User Login</h2>
                <form method="post" id="loginForm">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email"><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="로그인">
                </form>
                <div id="loginErrorDiv"></div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/main.js' %}"></script>
</html>